@import "tailwindcss";

:root {
  font-family: "Lora", serif;
  /* color-scheme: dark light; */
}

*::-webkit-scrollbar {
  display: none;
}

input {
  accent-color: #00264e;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar .active {
  color: #ed1a2f;
  border-bottom: 1px solid #ed1a2f;
}

.font-public-sans {
  font-family: "Public Sans", sans-serif;
}

.image-shadow-inset::after {
  content: "";
  position: absolute;
  bottom: -1px;
  z-index: 1;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, #f5f5f5, transparent);
}

.black-shadow-bottom::after {
  content: "";
  position: absolute;
  bottom: -1px;
  z-index: 1;
  width: 100%;
  height: 130px;
  background: linear-gradient(0deg, #000000da, transparent);
}
.bottom-shadow {
  box-shadow: 0px -3px 32px 2px #000000a6;
  background: linear-gradient(0deg, #000000d4, #00000069);
}
.shadow-blue {
  /* box-shadow: 0px -3px 32px 2px #00254e; */
  /* background: linear-gradient(0deg, #00254e, #00244e54); */
  background: linear-gradient(0deg, #00254ee6, #00244e00);
}

.white-drop-shadow{
  filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.8));
}

.shadow-blue-light {
  background: #405874;
  background: -webkit-linear-gradient(
    0deg,
    rgba(64, 88, 116, 1) 0%,
    rgba(133, 154, 176, 1) 25%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(64, 88, 116, 1) 0%,
    rgba(133, 154, 176, 1) 25%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(64, 88, 116, 1) 0%,
    rgba(133, 154, 176, 1) 25%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#405874", endColorstr="#FFFFFF", GradientType=0);
}

.global-width {
  max-width: 1530px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
}
.form-field:has(:required) > label {
  position: relative;
  width: max-content;
  max-width: 100%;
}

.form-field:has(:required) > label::after {
  content: "*";
  color: red;
  font-size: 14px;
  position: absolute;
  right: -10px;
  top: -3px;
}
